$bg-body: /*#f4f5f7*/ #ffffff;
$black: #000000;
$black-2: #1b1b1b;
$black-3: #333333;
$white: #ffffff;
$extra-light-grey: #f7f7f7;
$light-grey: #d3d3d3;
$light-grey-2: #e0e2e4;
$grey: #a5a5a5;
$grey-2: #878787;
$light-green: #e7ffec;
$green: #36b04c;
$red: #f53d3d;
$modal-frame: rgba(0, 0, 0, 0.5);
$pink: #ffefef;